<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        Первый новостной портал
    {% endblock title %} | Freshnews
    </title>
    
    {% load static %}
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <link type="image/x-icon" href="{% static 'assets/favicon.ico'%}" rel="shortcut icon">
</head>

<body>
    <nav class="container-fluid">
        <div class="container p-2 d-flex align-items-center">
            <a class='brand-logo col-3' href="/">FreshNews</a>
            <ul class="nav col-3 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="/news">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Статьи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Авторы</a>
                </li>
            </ul>
            <span class="col-3"></span>
            <a class='col-3 text-right' href="/accounts/login">Вход</a>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>