{% extends './default.html' %} 
{% block title %}
Поиск новостей по критериям
{% endblock title %}

{% block content %}
<h1>Найти новость</h1>

<form method="GET" action="{% url 'news_search' %}">
    {{ filterset.form }}
    <input type="submit" class="mt-3 btn-primary" value="Найти" />
</form>

{% if posts_list %}
    <ul>
        {% for post in posts_list %}
            <li><a href="{% url 'post_detail' post.id %}" class="text-success">{{ post.post_title }} </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Ничего не найдено</p>
{% endif %}

{% endblock content %}